dmx-serverconnect {
display: none
}

html {
height:100%;
}

body {
height:100%;
}

#Desktop_div {
height:100%;
}

w-include {
height:0px !important;
}

._315_250 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
height:100%;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
border-radius:20.0px;
}

._334_229 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
border-radius:20.0px;
box-shadow:0.0px 6.0px 100.0px rgba(0.0, 0.0, 0.0, 0.25);
}

._337_247 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
background-color:rgba(255.0, 255.0, 255.0, 1.0);
border-top-left-radius:10.0px;
border-top-right-radius:10.0px;
border-bottom-right-radius:20.0px;
border-bottom-left-radius:0.0px;
outline-width:2.0px;
outline-style:SOLID;
outline-color:rgba(29.869543612003326, 183.81250709295273, 71.06553465127945, 1.0);
}

._391_241 {
border-top-left-radius:10.0px;
border-top-right-radius:10.0px;
border-bottom-right-radius:0.0px;
border-bottom-left-radius:10.0px;
display:flex;
height:-webkit-fill-available;
align-items:center;
justify-content:center;
box-shadow:0.0px 1.0px 5.0px rgba(0.0, 0.0, 0.0, 0.25);
}

._421_276 {
display:flex;
height:-webkit-fill-available;
align-items:center;
justify-content:center;
}

._403_382 {
border-top-left-radius:0.0px;
border-top-right-radius:0.0px;
border-bottom-right-radius:20.0px;
border-bottom-left-radius:0.0px;
display:flex;
height:-webkit-fill-available;
align-items:center;
justify-content:center;
box-shadow:0.0px 1.0px 4.0px rgba(0.0, 0.0, 0.0, 0.25);
}

._422_339 {
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._422_335 {
display:flex;
height:-webkit-fill-available;
align-items:center;
justify-content:center;
}

._421_284 {
height:fit-content;
line-height:20.70600128173828px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova Semibold;
font-weight:600;
font-size:17.0px;
color:rgba(0.0, 0.0, 0.0, 1.0);
display:flex;
align-items:CENTER;
justify-content:CENTER;
}

._424_243 {
display:flex;
height:-webkit-fill-available;
align-items:center;
justify-content:center;
}

._337_246 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
background-color:rgba(255.0, 255.0, 255.0, 1.0);
border-top-left-radius:10.0px;
border-top-right-radius:10.0px;
border-bottom-right-radius:0.0px;
border-bottom-left-radius:0.0px;
outline-width:2.0px;
outline-style:SOLID;
outline-color:rgba(29.869543612003326, 183.81250709295273, 71.06553465127945, 1.0);
}

._355_239 {
border-radius:10.0px;
display:flex;
height:-webkit-fill-available;
align-items:center;
justify-content:center;
box-shadow:0.0px 1.0px 5.0px rgba(0.0, 0.0, 0.0, 0.25);
}

._430_263 {
background-color:rgba(0.0, 0.0, 0.0, 0.0);
border-top-left-radius:0.0px;
border-top-right-radius:0.0px;
border-bottom-right-radius:0.0px;
border-bottom-left-radius:0.0px;
}

._430_288 {
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._430_264 {
display:flex;
height:-webkit-fill-available;
align-items:center;
justify-content:center;
}

._430_277 {
display:flex;
height:-webkit-fill-available;
align-items:center;
justify-content:center;
}

._430_289 {
height:fit-content;
line-height:18.270000457763672px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova;
font-weight:400;
font-size:15.0px;
color:rgba(255.0, 255.0, 255.0, 1.0);
display:flex;
align-items:CENTER;
justify-content:LEFT;
}

._430_293 {
display:flex;
height:-webkit-fill-available;
align-items:center;
justify-content:center;
}

._407_410 {
border-radius:2.0px;
display:flex;
height:-webkit-fill-available;
align-items:center;
justify-content:center;
}

._430_257 {
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._430_258 {
height:fit-content;
line-height:29.23200225830078px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova;
font-weight:400;
font-size:24.0px;
color:rgba(255.0, 255.0, 255.0, 1.0);
display:flex;
align-items:CENTER;
justify-content:LEFT;
}

._430_259 {
display:flex;
height:-webkit-fill-available;
align-items:center;
justify-content:center;
}

._403_381 {
display:flex;
height:-webkit-fill-available;
align-items:center;
justify-content:center;
box-shadow:0.0px 4.0px 4.0px rgba(0.0, 0.0, 0.0, 0.25);
}

._433_380 {
background-color:rgba(0.0, 0.0, 0.0, 0.0);
border-top-left-radius:0.0px;
border-top-right-radius:0.0px;
border-bottom-right-radius:0.0px;
border-bottom-left-radius:0.0px;
}

._433_379 {
background-color:rgba(0.0, 0.0, 0.0, 0.0);
border-radius:5.0px;
}

._433_376 {
border-radius:5.0px;
display:flex;
height:-webkit-fill-available;
align-items:center;
justify-content:center;
}

._433_378 {
height:fit-content;
line-height:19.488000869750977px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova;
font-weight:400;
font-size:16.0px;
color:rgba(255.0, 255.0, 255.0, 1.0);
display:flex;
align-items:CENTER;
justify-content:CENTER;
}

._432_375 {
flex-direction:column;
display:flex;
gap:15.0px;
height:fit-content;
width:fit-content;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._431_330 {
flex-direction:row;
display:flex;
gap:10.0px;
padding-left:10.0px;
padding-right:10.0px;
padding-top:10.0px;
padding-bottom:10.0px;
height:fit-content;
min-width:153.0px;
width:153.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._431_337 {
min-height:17.0px;
height:17.0px;
min-width:20.0px;
width:20.0px;
display:flex;
}

._431_332 {
height:fit-content;
width:fit-content;
line-height:19.488000869750977px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova;
font-weight:400;
font-size:16.0px;
color:rgba(104.12499949336052, 101.95572629570961, 101.95572629570961, 1.0);
display:flex;
align-items:CENTER;
justify-content:CENTER;
}

._431_339 {
flex-direction:row;
display:flex;
gap:10.0px;
padding-left:10.0px;
padding-right:10.0px;
padding-top:10.0px;
padding-bottom:10.0px;
height:fit-content;
width:fit-content;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._431_348 {
min-height:20.0px;
height:20.0px;
min-width:20.0px;
width:20.0px;
display:flex;
}

._431_344 {
height:fit-content;
width:fit-content;
line-height:19.488000869750977px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova;
font-weight:400;
font-size:16.0px;
color:rgba(104.12499949336052, 101.95572629570961, 101.95572629570961, 1.0);
display:flex;
align-items:CENTER;
justify-content:CENTER;
}

._431_359 {
flex-direction:row;
display:flex;
gap:10.0px;
padding-left:10.0px;
padding-right:10.0px;
padding-top:10.0px;
padding-bottom:10.0px;
height:fit-content;
width:fit-content;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._431_360 {
min-height:25.0px;
height:25.0px;
min-width:133.0px;
width:133.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._431_362 {
height:fit-content;
line-height:19.488000869750977px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova;
font-weight:400;
font-size:16.0px;
color:rgba(104.12499949336052, 101.95572629570961, 101.95572629570961, 1.0);
display:flex;
align-items:CENTER;
justify-content:CENTER;
}

._431_350 {
flex-direction:row;
display:flex;
gap:10.0px;
padding-left:10.0px;
padding-right:10.0px;
padding-top:10.0px;
padding-bottom:10.0px;
height:fit-content;
min-width:153.0px;
width:153.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._431_355 {
min-height:19.0589599609375px;
height:19.0589599609375px;
min-width:89.18890380859375px;
width:89.18890380859375px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._431_369 {
display:flex;
height:-webkit-fill-available;
align-items:center;
justify-content:center;
}

._431_352 {
height:fit-content;
line-height:19.488000869750977px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova;
font-weight:400;
font-size:16.0px;
color:rgba(104.12499949336052, 101.95572629570961, 101.95572629570961, 1.0);
display:flex;
align-items:CENTER;
justify-content:CENTER;
}

._431_356 {
flex-direction:row;
display:flex;
gap:10.0px;
padding-left:10.0px;
padding-right:10.0px;
padding-top:10.0px;
padding-bottom:10.0px;
height:fit-content;
min-width:153.0px;
width:153.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._431_357 {
height:fit-content;
width:fit-content;
line-height:20.70600128173828px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova Semibold;
font-weight:600;
font-size:17.0px;
color:rgba(104.12499949336052, 101.95572629570961, 101.95572629570961, 1.0);
display:flex;
align-items:CENTER;
justify-content:CENTER;
}

._431_324 {
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._431_320 {
display:flex;
height:-webkit-fill-available;
align-items:center;
justify-content:center;
}

._431_309 {
flex-direction:row;
display:flex;
gap:10.0px;
padding-left:10.0px;
padding-right:10.0px;
padding-top:10.0px;
padding-bottom:10.0px;
height:fit-content;
width:fit-content;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._431_297 {
height:fit-content;
width:fit-content;
line-height:20.70600128173828px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova;
font-weight:400;
font-size:17.0px;
color:rgba(104.12499949336052, 101.95572629570961, 101.95572629570961, 1.0);
display:flex;
align-items:CENTER;
justify-content:CENTER;
}

._431_308 {
flex-direction:row;
display:flex;
gap:10.0px;
justify-content:center;
align-items:center;
padding-left:10.0px;
padding-right:10.0px;
padding-top:10.0px;
padding-bottom:10.0px;
height:fit-content;
width:fit-content;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._431_307 {
height:fit-content;
width:fit-content;
line-height:20.70600128173828px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova;
font-weight:400;
font-size:17.0px;
color:rgba(104.12499949336052, 101.95572629570961, 101.95572629570961, 1.0);
display:flex;
align-items:CENTER;
justify-content:CENTER;
}

._431_310 {
flex-direction:row;
display:flex;
gap:10.0px;
padding-left:10.0px;
padding-right:10.0px;
padding-top:10.0px;
padding-bottom:10.0px;
height:fit-content;
width:fit-content;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._431_311 {
height:fit-content;
width:fit-content;
line-height:20.70600128173828px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova;
font-weight:400;
font-size:17.0px;
color:rgba(104.12499949336052, 101.95572629570961, 101.95572629570961, 1.0);
display:flex;
align-items:CENTER;
justify-content:CENTER;
}

._431_321 {
display:flex;
height:-webkit-fill-available;
align-items:center;
justify-content:center;
}

._422_301 {
flex-direction:row;
display:flex;
gap:10.0px;
justify-content:center;
align-items:center;
padding-left:10.0px;
padding-right:10.0px;
padding-top:10.0px;
padding-bottom:10.0px;
height:fit-content;
width:fit-content;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._422_334 {
min-height:41.90924072265625px;
height:41.90924072265625px;
min-width:252.40872192382812px;
width:252.40872192382812px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._422_300 {
height:fit-content;
line-height:38.97600173950195px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova Semibold;
font-weight:600;
font-size:32.0px;
color:rgba(104.12499949336052, 101.95572629570961, 101.95572629570961, 1.0);
display:flex;
align-items:CENTER;
justify-content:LEFT;
}

._431_303 {
display:flex;
height:-webkit-fill-available;
align-items:center;
justify-content:center;
}

._422_302 {
border-radius:7.0px;
display:flex;
height:-webkit-fill-available;
align-items:center;
justify-content:center;
}

._337_249 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
background-color:rgba(255.0, 255.0, 255.0, 1.0);
border-top-left-radius:0.0px;
border-top-right-radius:10.0px;
border-bottom-right-radius:0.0px;
border-bottom-left-radius:0.0px;
outline-width:2.0px;
outline-style:SOLID;
outline-color:rgba(29.869543612003326, 183.81250709295273, 71.06553465127945, 1.0);
}

._442_338 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_376 {
flex-direction:column;
display:flex;
height:fit-content;
min-width:254.0px;
width:254.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_377 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
min-height:56.0px;
height:56.0px;
min-width:254.0px;
width:254.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_378 {
flex-direction:column;
display:flex;
gap:5.0px;
justify-content:center;
height:fit-content;
width:fit-content;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_379 {
min-height:35.0px;
height:35.0px;
min-width:216.0px;
width:216.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_381 {
height:fit-content;
line-height:20.70600128173828px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova;
font-weight:400;
font-size:17.0px;
color:rgba(104.12499949336052, 101.95572629570961, 101.95572629570961, 1.0);
display:flex;
align-items:CENTER;
justify-content:LEFT;
}

._442_382 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
min-height:56.0px;
height:56.0px;
min-width:254.0px;
width:254.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_383 {
flex-direction:column;
display:flex;
gap:5.0px;
justify-content:center;
height:fit-content;
width:fit-content;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_384 {
min-height:35.0px;
height:35.0px;
min-width:179.0px;
width:179.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_386 {
height:fit-content;
line-height:20.70600128173828px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova;
font-weight:400;
font-size:17.0px;
color:rgba(104.12499949336052, 101.95572629570961, 101.95572629570961, 1.0);
display:flex;
align-items:CENTER;
justify-content:LEFT;
}

._442_387 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
min-height:56.0px;
height:56.0px;
min-width:254.0px;
width:254.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_388 {
flex-direction:column;
display:flex;
gap:5.0px;
justify-content:center;
height:fit-content;
width:fit-content;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_389 {
min-height:35.0px;
height:35.0px;
min-width:199.0px;
width:199.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_391 {
height:fit-content;
line-height:20.70600128173828px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova;
font-weight:400;
font-size:17.0px;
color:rgba(104.12499949336052, 101.95572629570961, 101.95572629570961, 1.0);
display:flex;
align-items:CENTER;
justify-content:CENTER;
}

._442_392 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
min-height:56.0px;
height:56.0px;
min-width:254.0px;
width:254.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_393 {
flex-direction:column;
display:flex;
gap:5.0px;
justify-content:center;
height:fit-content;
width:fit-content;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_394 {
min-height:35.0px;
height:35.0px;
min-width:220.359375px;
width:220.359375px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_396 {
height:fit-content;
line-height:20.70600128173828px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova;
font-weight:400;
font-size:17.0px;
color:rgba(104.12499949336052, 101.95572629570961, 101.95572629570961, 1.0);
display:flex;
align-items:CENTER;
justify-content:CENTER;
}

._442_397 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
min-height:56.0px;
height:56.0px;
min-width:254.0px;
width:254.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_398 {
flex-direction:column;
display:flex;
gap:5.0px;
justify-content:center;
height:fit-content;
width:fit-content;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_399 {
min-height:33.0px;
height:33.0px;
min-width:188.0px;
width:188.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_401 {
height:fit-content;
line-height:20.70600128173828px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova;
font-weight:400;
font-size:17.0px;
color:rgba(104.12499949336052, 101.95572629570961, 101.95572629570961, 1.0);
display:flex;
align-items:CENTER;
justify-content:CENTER;
}

._442_402 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
min-height:56.0px;
height:56.0px;
min-width:254.0px;
width:254.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_403 {
flex-direction:column;
display:flex;
gap:5.0px;
justify-content:center;
height:fit-content;
width:fit-content;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_404 {
min-height:36.5px;
height:36.5px;
min-width:252.0px;
width:252.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_406 {
height:fit-content;
line-height:20.70600128173828px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova;
font-weight:400;
font-size:17.0px;
color:rgba(104.12499949336052, 101.95572629570961, 101.95572629570961, 1.0);
display:flex;
align-items:CENTER;
justify-content:CENTER;
}

._442_407 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
min-height:56.0px;
height:56.0px;
min-width:254.0px;
width:254.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_408 {
flex-direction:column;
display:flex;
gap:5.0px;
justify-content:center;
height:fit-content;
width:fit-content;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_409 {
min-height:35.0px;
height:35.0px;
min-width:220.0px;
width:220.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_411 {
height:fit-content;
line-height:20.70600128173828px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova;
font-weight:400;
font-size:17.0px;
color:rgba(104.12499949336052, 101.95572629570961, 101.95572629570961, 1.0);
display:flex;
align-items:CENTER;
justify-content:CENTER;
}

._442_412 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
min-height:56.0px;
height:56.0px;
min-width:254.0px;
width:254.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_413 {
flex-direction:column;
display:flex;
gap:5.0px;
justify-content:center;
height:fit-content;
width:fit-content;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_414 {
min-height:35.0px;
height:35.0px;
min-width:168.0px;
width:168.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_416 {
height:fit-content;
line-height:20.70600128173828px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova;
font-weight:400;
font-size:17.0px;
color:rgba(104.12499949336052, 101.95572629570961, 101.95572629570961, 1.0);
display:flex;
align-items:CENTER;
justify-content:CENTER;
}

._442_417 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
min-height:56.0px;
height:56.0px;
min-width:254.0px;
width:254.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_418 {
flex-direction:column;
display:flex;
gap:5.0px;
justify-content:center;
height:fit-content;
width:fit-content;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_419 {
min-height:35.0px;
height:35.0px;
min-width:210.0px;
width:210.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_421 {
height:fit-content;
line-height:20.70600128173828px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova;
font-weight:400;
font-size:17.0px;
color:rgba(104.12499949336052, 101.95572629570961, 101.95572629570961, 1.0);
display:flex;
align-items:CENTER;
justify-content:CENTER;
}

._442_654 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_692 {
flex-direction:column;
display:flex;
height:fit-content;
min-width:254.0px;
width:254.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_693 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
min-height:56.0px;
height:56.0px;
min-width:254.0px;
width:254.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_694 {
flex-direction:column;
display:flex;
gap:5.0px;
justify-content:center;
height:fit-content;
width:fit-content;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_695 {
min-height:35.0px;
height:35.0px;
min-width:216.0px;
width:216.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_697 {
height:fit-content;
line-height:20.70600128173828px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova;
font-weight:400;
font-size:17.0px;
color:rgba(104.12499949336052, 101.95572629570961, 101.95572629570961, 1.0);
display:flex;
align-items:CENTER;
justify-content:LEFT;
}

._442_698 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
min-height:56.0px;
height:56.0px;
min-width:254.0px;
width:254.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_699 {
flex-direction:column;
display:flex;
gap:5.0px;
justify-content:center;
height:fit-content;
width:fit-content;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_700 {
min-height:35.0px;
height:35.0px;
min-width:179.0px;
width:179.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_702 {
height:fit-content;
line-height:20.70600128173828px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova;
font-weight:400;
font-size:17.0px;
color:rgba(104.12499949336052, 101.95572629570961, 101.95572629570961, 1.0);
display:flex;
align-items:CENTER;
justify-content:LEFT;
}

._442_703 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
min-height:56.0px;
height:56.0px;
min-width:254.0px;
width:254.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_704 {
flex-direction:column;
display:flex;
gap:5.0px;
justify-content:center;
height:fit-content;
width:fit-content;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_705 {
min-height:35.0px;
height:35.0px;
min-width:199.0px;
width:199.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_707 {
height:fit-content;
line-height:20.70600128173828px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova;
font-weight:400;
font-size:17.0px;
color:rgba(104.12499949336052, 101.95572629570961, 101.95572629570961, 1.0);
display:flex;
align-items:CENTER;
justify-content:CENTER;
}

._442_708 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
min-height:56.0px;
height:56.0px;
min-width:254.0px;
width:254.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_709 {
flex-direction:column;
display:flex;
gap:5.0px;
justify-content:center;
height:fit-content;
width:fit-content;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_710 {
min-height:35.0px;
height:35.0px;
min-width:220.359375px;
width:220.359375px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_712 {
height:fit-content;
line-height:20.70600128173828px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova;
font-weight:400;
font-size:17.0px;
color:rgba(104.12499949336052, 101.95572629570961, 101.95572629570961, 1.0);
display:flex;
align-items:CENTER;
justify-content:CENTER;
}

._442_713 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
min-height:56.0px;
height:56.0px;
min-width:254.0px;
width:254.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_714 {
flex-direction:column;
display:flex;
gap:5.0px;
justify-content:center;
height:fit-content;
width:fit-content;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_715 {
min-height:33.0px;
height:33.0px;
min-width:188.0px;
width:188.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_717 {
height:fit-content;
line-height:20.70600128173828px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova;
font-weight:400;
font-size:17.0px;
color:rgba(104.12499949336052, 101.95572629570961, 101.95572629570961, 1.0);
display:flex;
align-items:CENTER;
justify-content:CENTER;
}

._442_718 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
min-height:56.0px;
height:56.0px;
min-width:254.0px;
width:254.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_719 {
flex-direction:column;
display:flex;
gap:5.0px;
justify-content:center;
height:fit-content;
width:fit-content;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_720 {
min-height:36.5px;
height:36.5px;
min-width:252.0px;
width:252.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_722 {
height:fit-content;
line-height:20.70600128173828px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova;
font-weight:400;
font-size:17.0px;
color:rgba(104.12499949336052, 101.95572629570961, 101.95572629570961, 1.0);
display:flex;
align-items:CENTER;
justify-content:CENTER;
}

._442_723 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
min-height:56.0px;
height:56.0px;
min-width:254.0px;
width:254.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_724 {
flex-direction:column;
display:flex;
gap:5.0px;
justify-content:center;
height:fit-content;
width:fit-content;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_725 {
min-height:35.0px;
height:35.0px;
min-width:220.0px;
width:220.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_727 {
height:fit-content;
line-height:20.70600128173828px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova;
font-weight:400;
font-size:17.0px;
color:rgba(104.12499949336052, 101.95572629570961, 101.95572629570961, 1.0);
display:flex;
align-items:CENTER;
justify-content:CENTER;
}

._442_728 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
min-height:56.0px;
height:56.0px;
min-width:254.0px;
width:254.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_729 {
flex-direction:column;
display:flex;
gap:5.0px;
justify-content:center;
height:fit-content;
width:fit-content;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_730 {
min-height:35.0px;
height:35.0px;
min-width:168.0px;
width:168.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_732 {
height:fit-content;
line-height:20.70600128173828px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova;
font-weight:400;
font-size:17.0px;
color:rgba(104.12499949336052, 101.95572629570961, 101.95572629570961, 1.0);
display:flex;
align-items:CENTER;
justify-content:CENTER;
}

._442_733 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
min-height:56.0px;
height:56.0px;
min-width:254.0px;
width:254.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_734 {
flex-direction:column;
display:flex;
gap:5.0px;
justify-content:center;
height:fit-content;
width:fit-content;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_735 {
min-height:35.0px;
height:35.0px;
min-width:210.0px;
width:210.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_737 {
height:fit-content;
line-height:20.70600128173828px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova;
font-weight:400;
font-size:17.0px;
color:rgba(104.12499949336052, 101.95572629570961, 101.95572629570961, 1.0);
display:flex;
align-items:CENTER;
justify-content:CENTER;
}

._442_496 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_534 {
flex-direction:column;
display:flex;
height:fit-content;
min-width:254.0px;
width:254.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_535 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
min-height:56.0px;
height:56.0px;
min-width:254.0px;
width:254.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_540 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
min-height:56.0px;
height:56.0px;
min-width:254.0px;
width:254.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_541 {
flex-direction:column;
display:flex;
gap:5.0px;
justify-content:center;
height:fit-content;
width:fit-content;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_542 {
min-height:35.0px;
height:35.0px;
min-width:179.0px;
width:179.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_544 {
height:fit-content;
line-height:20.70600128173828px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova;
font-weight:400;
font-size:17.0px;
color:rgba(104.12499949336052, 101.95572629570961, 101.95572629570961, 1.0);
display:flex;
align-items:CENTER;
justify-content:LEFT;
}

._442_545 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
min-height:56.0px;
height:56.0px;
min-width:254.0px;
width:254.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_546 {
flex-direction:column;
display:flex;
gap:5.0px;
justify-content:center;
height:fit-content;
width:fit-content;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_547 {
min-height:35.0px;
height:35.0px;
min-width:199.0px;
width:199.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_549 {
height:fit-content;
line-height:20.70600128173828px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova;
font-weight:400;
font-size:17.0px;
color:rgba(104.12499949336052, 101.95572629570961, 101.95572629570961, 1.0);
display:flex;
align-items:CENTER;
justify-content:CENTER;
}

._442_550 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
min-height:56.0px;
height:56.0px;
min-width:254.0px;
width:254.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_551 {
flex-direction:column;
display:flex;
gap:5.0px;
justify-content:center;
height:fit-content;
width:fit-content;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_552 {
min-height:35.0px;
height:35.0px;
min-width:220.359375px;
width:220.359375px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_554 {
height:fit-content;
line-height:20.70600128173828px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova;
font-weight:400;
font-size:17.0px;
color:rgba(104.12499949336052, 101.95572629570961, 101.95572629570961, 1.0);
display:flex;
align-items:CENTER;
justify-content:CENTER;
}

._442_555 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
min-height:56.0px;
height:56.0px;
min-width:254.0px;
width:254.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_556 {
flex-direction:column;
display:flex;
gap:5.0px;
justify-content:center;
height:fit-content;
width:fit-content;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_557 {
min-height:33.0px;
height:33.0px;
min-width:188.0px;
width:188.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_559 {
height:fit-content;
line-height:20.70600128173828px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova;
font-weight:400;
font-size:17.0px;
color:rgba(104.12499949336052, 101.95572629570961, 101.95572629570961, 1.0);
display:flex;
align-items:CENTER;
justify-content:CENTER;
}

._442_560 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
min-height:56.0px;
height:56.0px;
min-width:254.0px;
width:254.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_561 {
flex-direction:column;
display:flex;
gap:5.0px;
justify-content:center;
height:fit-content;
width:fit-content;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_562 {
min-height:36.5px;
height:36.5px;
min-width:252.0px;
width:252.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_564 {
height:fit-content;
line-height:20.70600128173828px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova;
font-weight:400;
font-size:17.0px;
color:rgba(104.12499949336052, 101.95572629570961, 101.95572629570961, 1.0);
display:flex;
align-items:CENTER;
justify-content:CENTER;
}

._442_565 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
min-height:56.0px;
height:56.0px;
min-width:254.0px;
width:254.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_566 {
flex-direction:column;
display:flex;
gap:5.0px;
justify-content:center;
height:fit-content;
width:fit-content;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_567 {
min-height:35.0px;
height:35.0px;
min-width:220.0px;
width:220.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_569 {
height:fit-content;
line-height:20.70600128173828px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova;
font-weight:400;
font-size:17.0px;
color:rgba(104.12499949336052, 101.95572629570961, 101.95572629570961, 1.0);
display:flex;
align-items:CENTER;
justify-content:CENTER;
}

._442_570 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
min-height:56.0px;
height:56.0px;
min-width:254.0px;
width:254.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_571 {
flex-direction:column;
display:flex;
gap:5.0px;
justify-content:center;
height:fit-content;
width:fit-content;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_572 {
min-height:35.0px;
height:35.0px;
min-width:168.0px;
width:168.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_574 {
height:fit-content;
line-height:20.70600128173828px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova;
font-weight:400;
font-size:17.0px;
color:rgba(104.12499949336052, 101.95572629570961, 101.95572629570961, 1.0);
display:flex;
align-items:CENTER;
justify-content:CENTER;
}

._442_575 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
min-height:56.0px;
height:56.0px;
min-width:254.0px;
width:254.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_576 {
flex-direction:column;
display:flex;
gap:5.0px;
justify-content:center;
height:fit-content;
width:fit-content;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_577 {
min-height:35.0px;
height:35.0px;
min-width:210.0px;
width:210.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_579 {
height:fit-content;
line-height:20.70600128173828px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova;
font-weight:400;
font-size:17.0px;
color:rgba(104.12499949336052, 101.95572629570961, 101.95572629570961, 1.0);
display:flex;
align-items:CENTER;
justify-content:CENTER;
}

._398_379 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._398_342 {
flex-direction:column;
display:flex;
height:fit-content;
min-width:254.0px;
width:254.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._398_343 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
min-height:56.0px;
height:56.0px;
min-width:254.0px;
width:254.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._398_347 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
min-height:56.0px;
height:56.0px;
min-width:254.0px;
width:254.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._398_348 {
flex-direction:column;
display:flex;
gap:5.0px;
justify-content:center;
height:fit-content;
width:fit-content;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._419_234 {
min-height:35.0px;
height:35.0px;
min-width:179.0px;
width:179.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._398_350 {
height:fit-content;
line-height:20.70600128173828px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova;
font-weight:400;
font-size:17.0px;
color:rgba(104.12499949336052, 101.95572629570961, 101.95572629570961, 1.0);
display:flex;
align-items:CENTER;
justify-content:LEFT;
}

._398_351 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
min-height:56.0px;
height:56.0px;
min-width:254.0px;
width:254.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._398_352 {
flex-direction:column;
display:flex;
gap:5.0px;
justify-content:center;
height:fit-content;
width:fit-content;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._419_235 {
min-height:35.0px;
height:35.0px;
min-width:199.0px;
width:199.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._398_354 {
height:fit-content;
line-height:20.70600128173828px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova;
font-weight:400;
font-size:17.0px;
color:rgba(104.12499949336052, 101.95572629570961, 101.95572629570961, 1.0);
display:flex;
align-items:CENTER;
justify-content:CENTER;
}

._398_355 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
min-height:56.0px;
height:56.0px;
min-width:254.0px;
width:254.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._398_356 {
flex-direction:column;
display:flex;
gap:5.0px;
justify-content:center;
height:fit-content;
width:fit-content;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._419_236 {
min-height:35.0px;
height:35.0px;
min-width:220.359375px;
width:220.359375px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._398_358 {
height:fit-content;
line-height:20.70600128173828px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova;
font-weight:400;
font-size:17.0px;
color:rgba(104.12499949336052, 101.95572629570961, 101.95572629570961, 1.0);
display:flex;
align-items:CENTER;
justify-content:CENTER;
}

._398_359 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
min-height:56.0px;
height:56.0px;
min-width:254.0px;
width:254.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._398_360 {
flex-direction:column;
display:flex;
gap:5.0px;
justify-content:center;
height:fit-content;
width:fit-content;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._419_237 {
min-height:33.0px;
height:33.0px;
min-width:188.0px;
width:188.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._398_362 {
height:fit-content;
line-height:20.70600128173828px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova;
font-weight:400;
font-size:17.0px;
color:rgba(104.12499949336052, 101.95572629570961, 101.95572629570961, 1.0);
display:flex;
align-items:CENTER;
justify-content:CENTER;
}

._398_363 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
min-height:56.0px;
height:56.0px;
min-width:254.0px;
width:254.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._398_364 {
flex-direction:column;
display:flex;
gap:5.0px;
justify-content:center;
height:fit-content;
width:fit-content;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._419_238 {
min-height:36.5px;
height:36.5px;
min-width:252.0px;
width:252.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._398_366 {
height:fit-content;
line-height:20.70600128173828px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova;
font-weight:400;
font-size:17.0px;
color:rgba(104.12499949336052, 101.95572629570961, 101.95572629570961, 1.0);
display:flex;
align-items:CENTER;
justify-content:CENTER;
}

._398_367 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
min-height:56.0px;
height:56.0px;
min-width:254.0px;
width:254.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._398_368 {
flex-direction:column;
display:flex;
gap:5.0px;
justify-content:center;
height:fit-content;
width:fit-content;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._419_239 {
min-height:35.0px;
height:35.0px;
min-width:220.0px;
width:220.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._398_370 {
height:fit-content;
line-height:20.70600128173828px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova;
font-weight:400;
font-size:17.0px;
color:rgba(104.12499949336052, 101.95572629570961, 101.95572629570961, 1.0);
display:flex;
align-items:CENTER;
justify-content:CENTER;
}

._398_371 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
min-height:56.0px;
height:56.0px;
min-width:254.0px;
width:254.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._398_372 {
flex-direction:column;
display:flex;
gap:5.0px;
justify-content:center;
height:fit-content;
width:fit-content;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._419_240 {
min-height:35.0px;
height:35.0px;
min-width:168.0px;
width:168.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._398_374 {
height:fit-content;
line-height:20.70600128173828px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova;
font-weight:400;
font-size:17.0px;
color:rgba(104.12499949336052, 101.95572629570961, 101.95572629570961, 1.0);
display:flex;
align-items:CENTER;
justify-content:CENTER;
}

._398_375 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
min-height:56.0px;
height:56.0px;
min-width:254.0px;
width:254.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._398_376 {
flex-direction:column;
display:flex;
gap:5.0px;
justify-content:center;
height:fit-content;
width:fit-content;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._419_241 {
min-height:35.0px;
height:35.0px;
min-width:210.0px;
width:210.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._398_378 {
height:fit-content;
line-height:20.70600128173828px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova;
font-weight:400;
font-size:17.0px;
color:rgba(104.12499949336052, 101.95572629570961, 101.95572629570961, 1.0);
display:flex;
align-items:CENTER;
justify-content:CENTER;
}

._340_317 {
border-top-left-radius:0.0px;
border-top-right-radius:10.0px;
border-bottom-right-radius:10.0px;
border-bottom-left-radius:10.0px;
display:flex;
height:-webkit-fill-available;
align-items:center;
justify-content:center;
box-shadow:0.0px 1.0px 5.0px rgba(0.0, 0.0, 0.0, 0.25);
}

._340_318 {
height:fit-content;
line-height:43.84800338745117px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova Semibold;
font-weight:600;
font-size:36.0px;
color:rgba(255.0, 255.0, 255.0, 1.0);
display:flex;
align-items:CENTER;
justify-content:CENTER;
}

._395_263 {
display:flex;
height:-webkit-fill-available;
align-items:center;
justify-content:center;
box-shadow:4.0px 4.0px 4.0px rgba(0.0, 0.0, 0.0, 0.25);
}

._419_243 {
flex-direction:row;
display:flex;
gap:9.0px;
height:fit-content;
width:fit-content;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._403_391 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
min-height:31.0px;
height:31.0px;
min-width:31.0px;
width:31.0px;
}

._403_407 {
min-height:31.0px;
height:fit-content;
min-width:172.0px;
width:172.0px;
line-height:20.70600128173828px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova;
font-weight:400;
font-size:17.0px;
color:rgba(0.0, 0.0, 0.0, 1.0);
display:flex;
align-items:CENTER;
justify-content:CENTER;
}

._403_390 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
min-height:31.0px;
height:31.0px;
min-width:31.0px;
width:31.0px;
}

._337_245 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
background-color:rgba(29.869543612003326, 183.81250709295273, 71.06553465127945, 1.0);
border-top-left-radius:20.0px;
border-top-right-radius:0.0px;
border-bottom-right-radius:0.0px;
border-bottom-left-radius:20.0px;
}

._337_253 {
border-radius:44.0px;
display:flex;
height:-webkit-fill-available;
align-items:center;
justify-content:center;
box-shadow:4.0px 4.0px 100.0px rgba(0.0, 0.0, 0.0, 0.25);
}

._339_310 {
flex-direction:column;
display:flex;
gap:15.0px;
justify-content:center;
align-items:center;
height:fit-content;
width:fit-content;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._442_309 {
min-height:128.0px;
height:128.0px;
min-width:172.0px;
width:172.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
cursor:pointer;
}

._I442_309-442_272 {
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._I442_309-442_273 {
display:flex;
height:-webkit-fill-available;
align-items:center;
justify-content:center;
box-shadow:0.0px 1.0px 4.0px rgba(0.0, 0.0, 0.0, 0.25);
}

._I442_309-442_275 {
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._I442_309-442_276 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._I442_309-442_277 {
height:fit-content;
line-height:21.924001693725586px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova;
font-weight:400;
font-size:18.0px;
color:rgba(0.0, 0.0, 0.0, 1.0);
display:flex;
align-items:CENTER;
justify-content:CENTER;
}

._442_258 {
min-height:128.0px;
height:128.0px;
min-width:133.0px;
width:133.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
cursor:pointer;
}

._I442_258-440_276 {
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._I442_258-440_277 {
display:flex;
height:-webkit-fill-available;
align-items:center;
justify-content:center;
box-shadow:0.0px 1.0px 4.0px rgba(0.0, 0.0, 0.0, 0.25);
}

._I442_258-440_280 {
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._I442_258-440_281 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._I442_258-440_282 {
height:fit-content;
line-height:21.924001693725586px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova;
font-weight:400;
font-size:18.0px;
color:rgba(0.0, 0.0, 0.0, 1.0);
display:flex;
align-items:CENTER;
justify-content:CENTER;
}

._458_815 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
min-height:128.0px;
height:128.0px;
min-width:147.0px;
width:147.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._433_484 {
background-color:rgba(0.0, 0.0, 0.0, 0.0);
cursor:pointer;
}

._I433_484-433_437 {
background-color:rgba(0.0, 0.0, 0.0, 0.0);
box-shadow:0.0px 4.0px 4.0px rgba(0.0, 0.0, 0.0, 0.25);
}

._I433_484-433_438 {
display:flex;
height:-webkit-fill-available;
align-items:center;
justify-content:center;
box-shadow:0.0px 1.0px 4.0px rgba(0.0, 0.0, 0.0, 0.25);
}

._I433_484-433_439 {
display:flex;
height:-webkit-fill-available;
align-items:center;
justify-content:center;
box-shadow:0.0px 1.0px 4.0px rgba(0.0, 0.0, 0.0, 0.25);
}

._I433_484-433_495 {
background-color:rgba(0.0, 0.0, 0.0, 0.0);
border-top-left-radius:0.0px;
border-top-right-radius:0.0px;
border-bottom-right-radius:0.0px;
border-bottom-left-radius:0.0px;
}

._I433_484-433_497 {
height:fit-content;
line-height:21.924001693725586px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova;
font-weight:400;
font-size:18.0px;
color:rgba(0.0, 0.0, 0.0, 1.0);
display:flex;
align-items:CENTER;
justify-content:CENTER;
}

._440_254 {
min-height:128.0px;
height:128.0px;
min-width:191.0px;
width:191.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
cursor:pointer;
}

._I440_254-433_529 {
background-color:rgba(0.0, 0.0, 0.0, 0.0);
box-shadow:0.0px 4.0px 4.0px rgba(0.0, 0.0, 0.0, 0.25);
}

._I440_254-433_530 {
display:flex;
height:-webkit-fill-available;
align-items:center;
justify-content:center;
box-shadow:0.0px 1.0px 4.0px rgba(0.0, 0.0, 0.0, 0.25);
}

._I440_254-433_531 {
display:flex;
height:-webkit-fill-available;
align-items:center;
justify-content:center;
box-shadow:0.0px 1.0px 4.0px rgba(0.0, 0.0, 0.0, 0.25);
}

._I440_254-433_533 {
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._I440_254-433_534 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

._I440_254-433_535 {
height:fit-content;
line-height:21.924001693725586px;
letter-spacing:-0.30000001192092896px;
font-family:FONTSPRING DEMO - Proxima Nova;
font-weight:400;
font-size:18.0px;
color:rgba(0.0, 0.0, 0.0, 1.0);
display:flex;
align-items:CENTER;
justify-content:CENTER;
}

._423_360 {
border-top-left-radius:0.0px;
border-top-right-radius:0.0px;
border-bottom-right-radius:0.0px;
border-bottom-left-radius:0.0px;
display:flex;
height:-webkit-fill-available;
align-items:center;
justify-content:center;
}

._460_824 {
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
height:-webkit-fill-available;
}

